<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-12">
      <img src="/assets/study.jpg" class="img-responsive  center-block top-image" , size:"30×30">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-12">
    <h3>このアプリについて</h3>
      <div class="row justify-content-center">
        <div class="col-lg-12 col-12" style="font-size:1.5em;">
          StudyHoursは、学習記録を投稿することに特化したSNSサイトです。<br>
          学習記録や、学習のまとめノートを投稿することで日々の学習を振り返りましょう<br>
          きっと、勉強することが楽しくなってくるはずです
        </div>
      </div>
    </div>  
  </div>

  <div class="row mt-5 top-bg-can">
    <div class="col-lg-5 col-11 offset-1">
      <h3 class="mt-4">このアプリでできること</h3>
    </div>
  </div>
  <!-- 上の段 -->
  <div class="row top-bg justify-content-center">
    <div class="col-lg-4 col-12 pt-2 text-center">
      <img style="height:130px;" src="/assets/pencil-5b4ad0f514304f51ec935229d7b8cc106ac190334de504d763c8faadfab3f321.png">
      <h4 class="mt-2">学習記録の投稿</h4>
      <p>日々の学習を記録してください！<br>
      学習内容と時間を登録することができます<br>
      毎日投稿することで学習の習慣を作りましょう</p>

    </div>
    <div class="col-lg-4 col-12 pt-2 text-center">
      <img style="height:130px;" src="/assets/note-a9423729f9cd80728846c38aec48cae08d1b818cd8e750fbd71930b07c98706c.png">
      <h4 class="mt-2">ノートの投稿</h4>
      <p>学習の中で、「ここ大事だな」と思ったことはありませんか？<br>
        学習記録とは別に、ノートを投稿することができます。<br>
        アウトプットを行うことで、理解を深めましょう</p>
    </div>
  </div>

  <!-- 下の段 -->
  <div class="row top-bg justify-content-center">
    <div class="col-lg-4 col-12 pt-2 text-center">
      <img style="height:130px;" src="/assets/donut-a5b2de7e8dd42557b64698a65f70735181bdcf4a71e20a4da701fd6ad4c175ae.png">
      <h4 class="mt-2">学習記録の見える化</h4>
      <p>週の学習時間の目標を立てることができます！<br>
        投稿された学習記録から、これまでの学習内容と<br>
      　目標達成までの道のりを見える化します！！
      </p>
    </div>
    <div class="col-lg-4 col-12 pt-2 text-center">
      <img style="height:130px;" src="/assets/message-9ecba62c678df460715abfc27c573306c8e4750af5f5215e330437ef5374f900.png">
      <h4 class="mt-2">チャット機能</h4>
      <p>行き詰まったときなどコミュニケーションを取りたい時に<br>
        チャットをすることで教えて貰ったり息抜きをしよう
      </p>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-4 mb-3">
    <a class="btn btn-info" href="/users/sign_up">会員登録はこちらから</a>      
  </div>  

</div>

